.largest-container{
    display: flex;
    width: 98.9vw;
    height: 200vh;
    margin: -0.4vw;
    flex-direction: column;
    background-color: #4B4A4A;
}
.header{
    height: 20vh;
    width: 98.9vw;
    background-color: #2E2E2E;
}
.background{
    height: 190vh;
    width: 98.9vw;
    background-color: #4B4A4A;
}

.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.reviews .item .item-container .add-to-wishlist {
    background-color: rgba(255, 21, 21, 0.7);
  
    display: flex;
    justify-content: center;
    align-items: center;
  

  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }
.reviews .item .item-container .add-to-cart img {
    width: 32px;
    height: 32px;
  }
.reviews {
    height: 100%;
    width: 100%
  
    display: grid;
    
    grid-template-rows: 0.01fr 0.01fr 0.01fr 0.01fr;
    grid-template-columns: repeat(3, 3fr);
  }
.reviews img {
    width: 200px;
    /* filter: drop-shadow(30px 10px 4px #ddd); */
  }
.reviews .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
.reviews .item .item-container {
    width: 350px;
    height: 80%;
    background-color: #2E2E2E;
  
    border-radius: 25px;
  
    position: relative;
  }
.reviews .item .item-container .item-img {
    width: 100%;
    height: 70%;
  
    background-color: #2E2E2E;
  
 
    border-radius: 25px 25px 0 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.reviews .item .item-container .title {
    width: 100%;
    color: #fff;
  
  }
.reviews .item .item-container .add-to-cart {
    background-color: rgba(var(--right-side-bg-color), 0.7);
    
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 5px;
  
    border-radius: 50%;
  }
.score {
    color: white;
    display: flex;
    justify-content: center;
    margin: 1px;

  }


.title {
    display: flex;
    justify-content: center;

  }
a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
}
.wallpaper{
  display: flex;
  justify-content: center;
  height: 160vh;
  width: 98.9vw;
  background-color: #4B4A4A;
}
.textbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 5vw;
  font-size: 60px;
  background-color: #2E2E2E;
  color: #fff;
}
.largest-container-hades {
  display: flex;
    width: 98.9vw;
    height: 160vh;
    margin: -0.4vw;
    flex-direction: column;
    background-color: #4B4A4A;
}